/* Define as propriedades do corpo da página HTML */
body {
  margin: 0; /* Remove a margem padrão para garantir que não haja espaço extra ao redor do corpo */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; /* Define a fonte padrão para o corpo, priorizando as fontes do sistema operacional */
  -webkit-font-smoothing: antialiased; /* Melhora a renderização da fonte no WebKit (Safari, Chrome) */
  -moz-osx-font-smoothing: grayscale; /* Melhora a renderização da fonte no Firefox no macOS */
}

/* Define as propriedades para elementos de código */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace; /* Define a fonte para elementos de código, priorizando algumas fontes monoespaçadas comuns */
}
